### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
*.launch
local.properties
.settings/
.loadpath
.recommenders
.classpath
.project

### Java ###
*.class

### JavaFX ###
*.fxbuild

### Meh solutions ###
/hackerrank-birthday-cake-candles
/hackerrank-mini-max-sum
